@media screen  and (max-width: 1330px) {
    .form-imagem{
        display: none;
    }
    .container{
        width: 50%;
    }
    .form{
        width: 100px;
    }
}

@media screen and (max-width: 1064px){

    .container{
        width: 90%;
        height: auto;
    }
    .inputs{
          flex-direction: column;
          overflow: scroll;
          flex-wrap: nowrap;
          max-height: 10rem;
          padding-right: 5rem;

    }
    .genero-inputs{
        margin-top: 2rem;
    }
    .genero-grupo{
        flex-direction: column;
    }

    .genero-input{
        margin-top: 0.5rem;
    }
}